<div class="application">
  <div class="top-window" style="border: 1px solid black;">
    <h2 class="top-window-label" style="">
      {{title}}
    </h2>
  </div> <!-- top-window -->
  <div class="sources-window" style="width: 100px; border: 1px solid black; height: 500px; float: left; padding: 5px;">
    <div class="sources-window-label" style=""> Sources </div>
    <div class="sources-wrapper">
      <ul></ul>
    </div> <!-- sources-wrapper -->
  </div> <!-- sources-window -->
  <div class="main-window" style="border: 1px solid black; margin-left: 110px; padding: 10px; min-height: 500px;">
    Main window
  </div> <!-- main-window -->
</div> <!-- application -->