{% raw %}
<!doctype html>
<html lang="en">
<head>
  <title>Cornea Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet/less" type="text/css" href="../static/less/styles.less" />

  <!-- IMPORT LIBRARY -->
  <script src="../static/lib/js/app.js" type="text/javascript"></script>
  <script src="../static/lib/js/handlebars.js" type="text/javascript"></script>
  <script src="../static/lib/js/less.js" type="text/javascript"></script>
  <script src="../static/lib/js/jquery.js" type="text/javascript"></script>

  <script src="http://fgnass.github.io/spin.js/dist/spin.min.js"></script>
  <script src="http://fgnass.github.io/spin.js/jquery.spin.js"></script>

  <!-- LESS SETUP -->
  <script type="text/javascript">
    less = {
        env: "development", // or "production"
        async: false,       // load imports async
        fileAsync: false,   // load imports async when in a page under
                            // a file protocol
        poll: 1000,         // when in watch mode, time in ms between polls
        functions: {},      // user functions, keyed by name
        dumpLineNumbers: "comments", // or "mediaQuery" or "all"
        relativeUrls: false,// whether to adjust url's to be relative
                            // if false, url's are already relative to the
                            // entry less file
        rootpath: ":/a.com/"// a path to add on to the start of every url
                            //resource
    };
  </script>

  <!-- HANDLEBARS -->
  <script src="../static/_handlebars/BodyTemplate.js"></script>
  <script src="../static/_handlebars/SourceListTemplate.js"></script>

</head>

<body>
  <!-- Application script -->
  <script src="../static/_coffee/application/application.js" type="text/javascript"></script>
</body>

</html>
{% endraw %}