{% raw %}
<!doctype html>
<html lang="en">
<head>
  <title>Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/js/lib/jquery-1.10.1.min.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="http://fgnass.github.io/spin.js/dist/spin.min.js"></script>
  <script src="http://fgnass.github.io/spin.js/jquery.spin.js"></script>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body>
  <h1> Reader Main </h1>
</body>
</html>
{% endraw %}
