{% raw %}
<!doctype html>
<html lang="en">
<head>
  <title>Cornea Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet"/>
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css" />

  <!-- IMPORT LIBRARY -->
  <script src="../static/lib/js/app.js" type="text/javascript"></script>
  <script src="../static/lib/js/handlebars.js" type="text/javascript"></script>
  <script src="../static/lib/js/less.js" type="text/javascript"></script>
  <script src="../static/lib/js/jquery.js" type="text/javascript"></script>
  <script src="../static/lib/js/underscore.js" type="text/javascript"></script>
  <script src="../static/lib/js/backbone.js" type="text/javascript"></script>
  
  <script src="http://fgnass.github.io/spin.js/dist/spin.min.js"></script>
  <script src="http://fgnass.github.io/spin.js/jquery.spin.js"></script>

  <!-- LESS SETUP --> <!-- May not be necessary -->
  <script type="text/javascript">
    less = {
        env: "development", // or "production"
        async: false,       // load imports async
        fileAsync: false,   // load imports async when in a page under
                            // a file protocol
        poll: 1000,         // when in watch mode, time in ms between polls
        functions: {},      // user functions, keyed by name
        dumpLineNumbers: "comments", // or "mediaQuery" or "all"
        relativeUrls: false,// whether to adjust url's to be relative
                            // if false, url's are already relative to the
                            // entry less file
        rootpath: ":/a.com/"// a path to add on to the start of every url
                            //resource
    };
  </script>

  <!-- HANDLEBARS -->
  <script src="../static/templates/ApplicationTemplate.js"></script>

  <!-- Backbone -->
  <script src="../static/js/backbone/ApplicationModels.js"></script>
  <script src="../static/js/backbone/ApplicationViews.js"></script>  

  <!-- Run the application -->
  <script src="../static/js/application.js" type="text/javascript"></script>
</head>

<body>

</body>

</html>
{% endraw %}